<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.iqapps.IQTimeSheet"
    android:installLocation="auto"
    android:versionCode="9"
    android:versionName="2012.beta3" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/icon_medium"
        android:label="@string/app_name" android:allowClearUserData="true">
        <activity
            android:name="TimeSheetActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AboutDialog" />
        <activity android:name="AddTaskHandler" />
        <activity android:name="ChangeDate" />
        <activity android:name="ChangeEntryHandler" />
        <activity android:name="ChangeTaskList" />
        <activity android:name="ChangeTime" />
        <activity android:name="DayReport" />
        <activity android:name="EditDayEntriesHandler" />
        <activity android:name="EditTaskHandler" />
        <activity android:name="MyPreferenceActivity" />
        <activity android:name="ReviveTaskHandler" />
        <activity android:name="WeekReport" />
    </application>

</manifest>
