<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.googlecode.iqapps.IQTimeSheet" android:versionCode="1"
	android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name=".TimeSheetActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".AboutDialog" />
		<activity android:name=".AddTaskHandler" />
		<activity android:name=".ChangeDate" />
		<activity android:name=".ChangeEntryHandler" />
		<activity android:name=".ChangeTaskList" />
		<activity android:name=".ChangeTime" />
		<activity android:name=".DayReport" />
		<activity android:name=".EditDayEntriesHandler" />
		<activity android:name=".EditTaskHandler" />
		<activity android:name=".MyPreferenceActivity" />
		<activity android:name=".ReviveTaskHandler" />
		<activity android:name=".WeekReport" />
	
</application>

	<uses-sdk android:minSdkVersion="2" />

	<!-- Required for positron to open it's server socket. -->
	<uses-permission android:name="android.permission.INTERNET" />

	<!--
		Required for positron to disable the keyguard, should it be on during
		tests.
	-->
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

	<!--
		<instrumentation
		android:targetPackage="com.googlecode.iqapps.IQTimeSheet"
		android:name="android.test.InstrumentationTestRunner"
		android:label="Test Suite for IQTimeSheet Project" />
	-->

	<!--
		<instrumentation android:label="Test Suite for IQTimeSheet Project"
		android:targetPackage="com.googlecode.iqapps.IQTimeSheet"
		android:functionalTest="true"
		android:name="com.googlecode.autoandroid.positron.Positron" />
	-->

	<instrumentation android:label="Test Suite for IQTimeSheet Project"
		android:targetPackage="com.googlecode.iqapps.IQTimeSheet"
		android:name="com.googlecode.autoandroid.positron.Positron" />

</manifest> 
